# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
pipenv/

# IDE files
.vscode/
.idea/

# Dependency directories
lib/
libs/
library/
dependencies/

storage
.vercel
output.txt
chroma_db
